.nav-link{
    color:snow;
}
.navbar-nav{
    left:60%;
}
*{
    font-family: 'Montserrat';
    box-sizing: border-box;
}
.navbar-brand{
    margin-left:30px;
}
nav .container-fluid{
    padding-left: 100px;
    padding-right: 100px;
}


/* ---------------------------HOME PAGE--------------------------------------------*/
.abt{
    background-image: url("./images/img1.jpeg");
    /*width:1600px; */
    height: 760px; 
    top:94px;
    background-size:cover;
    background-repeat:no-repeat;
}
#svg{
    top: 80%;
    font-size: 27px;
    color:#FFFFFF;
    left: 75%;
    transform: translate(20%, -50%);
}
.abt p{
    margin-top:33px;
    width: 568px;
    height: 114px;
    top:199px;
    left:64px;
    font-weight:700px;
    font-size:44px;
    color:#000000;
    font-weight:bold;
    text-align:center;
    justify-content: center;
    display:flex;

}
a[href="#aboutus"]{
    border-radius:8px;
    display:flex;
    width:140px;
    height:40px; 
    justify-content:center ;
    background:#000000;
    text-decoration: none;
    position:relative;
    color:white;
    left:5%;
    top:20%;
    opacity: 0.6;
}
a[href="#aboutus"]:hover{
    color:white;
    background-color: #000000;
    opacity:1;
}
/* .s1{
    float:left;
    flex:1;
} */
.s1:first-child{
    text-align:center;
    margin-right:20px;
    color:#000000;
    font-weight:700;
    font-size:36px;
    float:left;
    margin-right:0px;
    width:30%;
    background: white;
    flex:1;
}
#tag{
    margin-top: 120px;
    color:rgba(0, 0, 0, 0.78);
    font-weight:700;
}
#service{
    display:flex;
    justify-content: center;
}
.service{
    display:flex;
    height: 555px;
    margin-bottom: 80px;
}
svg{
    float:right;
    justify-items: center;
    margin-top:0px;
}
.help{
    display:flex;
    justify-content: center;
    font-weight:700;
    font-size: 30px;
    color:#000000;
}
a[href="/search"]{
    text-decoration:none;
    color:blue;
    justify-content: center;
}
#aboutus{
    margin-top: 100px;
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)),url("./images/img7.jpeg");
    image-rendering: optimizeQuality pixelated;
    height:736px;
    background-size:cover;
    width:100%;
    background-repeat:no-repeat;
}
#abt-1{
    text-align: center;
    color:#FFFFFF;
    font-weight:700;
    display:flex;
    position: absolute;
    top: 250%;
    font-size: 44px;
    left: 44%;
    transform: translate(-27%, -50%);
}
#aboutus h1{
    font-weight:700;
    left:42.5%;
    color:white;
    justify-content: center;
    display:flex;
}
#text{
    font-weight:700;
    color:white;
    justify-content: center;
    display:flex;
    flex-direction: row;
}
#abt-2{
    text-align: center;
    color:#FFFFFF;
    font-weight:700;
    display:flex;
    top:300%;
    font-size:27px;
    left:33%;
    transform: translate(-25%,-50%);
    position:relative;
}
#f1 svg{
    height: 40px;
}

/*--------------------------------------------apply page------------------------------------------------------------------------*/

#apply{
    background:url("./images/apply.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    height:600px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px; 
}
#form{
    background:#000000;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#h3_apply{
    color:#FFFFFF;
    font-size: 32px;
    font-weight:600;
    text-align: center;
    margin-bottom:10px;
}
.row{
    border-radius: 10%;
}
form div{
    margin-top:30px;
}
.apply{
    width:250px;
    height: 50px;
    text-align: center;
    color:white;
    font-weight:400;
    font-size: 20px;
    background: #000000;
    border: 3px solid white;
    border-radius: 12px;
}
#submit{
    margin-top:90px;
    display:flex;
    justify-content: space-around;
}
.job-form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

